@import "../base/variables";
@import "../base/mixins";

body {
  background-color: $background-color;
  color: $text-color;
}
.wrapper {
  margin: 0 2rem;
  @include media-tablet {
    margin: 0 2rem;
  }
  @include media-desktop {
    margin: 0 auto;
    width: 960px;
  }
  @include media-desktop-1680px {
    margin: 0 auto;
    width: 1200px;
  }
  @include media-desktop-big {
    margin: 0 auto;
    width: 1400px;
  }
}