@mixin flex($direction:row,
$justify-content:flex-start,
$align-items:flex-start) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin image-properties {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: .5rem;
}
@mixin text-space-properties {
  border-bottom: none;
  margin-left: 4rem;
  h3 {
    font-size: 3.5rem;
    padding: 2.5rem 0 2rem;
  }
}

// breakpoints
@mixin media-mobile-S {
  @media screen and (min-width: 374px) and (max-width: 460px){
    @content;
  }
}
@mixin media-mobile-M {
  @media screen and (min-width: 461px) and (max-width: 520px){
    @content;
  }
}
@mixin media-mobile-L {
  @media screen and (min-width: 521px) and (max-width: 600px){
    @content;
  }
}

@mixin media-mobile-XL {
  @media screen and (min-width: 601px) and (max-width: 767px){
    @content;
  }
}

@mixin media-tablet {
  @media screen and (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}
@mixin media-desktop {
  @media screen and (min-width: 992px) and (max-width: 1280px){
    @content;
  }
}
@mixin media-desktop-1680px {
  @media screen and (min-width: 1281px) and (max-width: 1680px){
    @content
  }
}
@mixin media-desktop-big {
  @media screen and (min-width: 1681px) {
    @content
  }
}