@import "../base/variables";
@import "../base/mixins";

.footer {
  @include media-tablet {
    @include flex (row, $justify-content: center)
  }
  @include media-desktop {
    @include flex (row, $justify-content: center)
  }
  .footer-section {
    padding: 3rem 0;
    @include media-desktop {
      @include flex (row, $justify-content: space-between);
    }
    p {
      @include media-desktop {
        margin-right: 1.5rem;
      }
      a {
        color: $text-color;
      }
    }
  }
}
