@import "../base/variables";
@import "../base/mixins";
#cta {
  @include flex(column,$align-items:center);
  position: relative;
  h1{
    background-color: $logo-background-color;
    color: $text-alt-color;
    display:inline-block;
    margin: 1em 0 0.5em;
    border-radius: .5rem;
    padding: .7rem;
  }
  @include media-tablet {
    h1 {
      align-self: flex-start;
    }
  }
  @include media-desktop {
    h1 {
      align-self: flex-start;
    }
  }
  @include media-desktop-1680px {
    h1 {
      align-self: flex-start;
    }
  }
  @include media-desktop-big {
    h1 {
      align-self: flex-start;
    }
  }
  > section{
    background-color: $box-background-color;
    width: 100%;
    border-radius: 0.5rem;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include flex(column,$align-items:center);
    @include media-tablet {
      flex-direction: row;
      padding: 3rem;
      > section {
        flex-basis: 80%;
      }
    }
    @include media-desktop {
      flex-direction: row;
      padding: 4.5rem;
      > section {
        flex-basis: 50%;
      }
    }
    @include media-desktop-1680px {
      flex-direction: row;
      padding: 4.5rem;
      > section {
        flex-basis: 50%;
      }
    }
    @include media-desktop-big {
      flex-direction: row;
      padding: 4.5rem;
      > section {
        flex-basis: 50%;
      }
    }
    h2, p {
      text-align: center;
      @include media-tablet {
        text-align: left;
      }
      @include media-desktop {
        text-align: left;
      }
      @include media-desktop-1680px {
        text-align: left;
      }
      @include media-desktop-big {
        text-align: left;
      }
    }
  }
  .buttons {
    margin-top: 1rem;
    width: 100%;
    @include flex(column);
    @include media-tablet {
      @include flex(column, $justify-content:center, $align-items: center);
    }
    @include media-desktop {
      @include flex(column,$justify-content:center, $align-items: center);
    }
    @include media-desktop-1680px {
      @include flex(column,$justify-content:center, $align-items: center);
    }
    @include media-desktop-big {
      @include flex(column,$justify-content:center, $align-items: center);
    }

    .btn {
      width: 100%;
      margin-top: .5rem;
    }
    @include media-tablet {
      .btn {
        @include flex(row-reverse, $justify-content: space-around);
        width: 65%;
      }
    }
    @include media-desktop {
      .btn {
        @include flex(row-reverse, $justify-content: space-around);
        width: 67%;
      }
    }
    @include media-desktop-1680px {
      .btn {
        @include flex(row-reverse, $justify-content: space-around);
        width: 69%;
      }
    }
    @include media-desktop-big {
      .btn {
        @include flex(row-reverse, $justify-content: space-around);
        width: 72%;
      }
    }
  }
}
