@import "../base/variables";
@import "../base/mixins";

.seccond-section {
  background-color: $box-background-color;
  .container{
    @include media-desktop {
      @include flex(row-reverse);
    }
    @include media-desktop-1680px {
      @include flex(row-reverse);
    }
    @include media-desktop-big {
      @include flex(row-reverse);
    }
  }
  .text-space {
    border-bottom: 2px solid $background-color;
    h3 {
      padding: 3rem 0 2rem;
    }
    p {
      padding-bottom: 2rem;
      span {
        font-weight: bold;
      }
    }
    @include media-desktop {
      border-bottom: none;
      margin-left: 4rem;
      h3 {
        font-size: 3.5rem;
        padding: 2.5rem 0 2rem;
      }
      .btn {
        width: 54%;
        padding-left: .5rem;
        padding-right: .7rem;
      }
    }
    @include media-desktop-1680px {
      border-bottom: none;
      margin-left: 4rem;
      h3 {
        font-size: 3.5rem;
        padding: 2.5rem 0 2rem;
      }
      p {
        margin-top: 2rem;
        line-height: 3rem;
      }
    }
    @include media-desktop-big {
      border-bottom: none;
      margin-left: 4rem;
      h3 {
        font-size: 3.5rem;
        padding: 2.5rem 0 2rem;
      }
      p {
        margin-top: 2.2rem;
        line-height: 3rem;
      }
    }

  }
  .photos {;
    @include media-desktop {
      flex-basis: 135%;
      margin-right: 3rem;
    }
    @include media-desktop-1680px {
      flex-basis: 70%;
      margin-right: 3rem;
    }
    @include media-desktop-big {
      flex-basis: 70%;
      margin-right: 3rem;
      h3{
        font-size: 2rem;
        font-weight: bold;
      }
    }
    h3 {
      padding: 3rem 0 2rem;
    }
    .picture-wrap {
      margin-bottom: 3rem;
      @include flex(row, $justify-content: space-between);
      flex-wrap: wrap;
      .pic {
        height: (101 / 12) * 1rem;
        width: 48%;
        margin-bottom: 1rem;
        @include image-properties;
        @include media-mobile-L {
          height: (101 / 12) * 1.2rem;
        }
        @include media-mobile-XL {
          height: (101 / 12) * 1.4rem;
        }
        @include media-tablet {
          height: (101 / 12) * 2rem;
        }
        @include media-desktop {
          height: (101 / 12) * 1rem;
        }
        @include media-desktop-1680px {
          height: (101 / 12) * 1rem;
        }
        @include media-desktop-big {
          height: (101 / 12) * 1.1rem;
        }
      }
      #picture-1 {
        background-image: url("../assets/pic04.jpg");
      }
      #picture-2 {
        background-image: url("../assets/pic05.jpg");
      }
      #picture-3 {
        background-image: url("../assets/pic06.jpg");
      }
      #picture-4 {
        background-image: url("../assets/pic07.jpg");
      }
    }
  }
  .btn {
    width: 100%;
    margin-bottom: 3rem;
    @include media-desktop {
      width: 45%;
    }
    @include media-desktop-1680px {
      width: 45%;
    }
    @include media-desktop-big {
      width: 45%;
    }
  }
}